/.venv/
/.idea/
/**/.DS_Store
/research/cnn/dataset/test_set/cats/
/research/cnn/dataset/test_set/dogs/
/research/cnn/dataset/training_set/cats/
/research/cnn/dataset/training_set/dogs/
/research/ann/Churn_Modelling_Test_Pre_Progress.csv
